@tailwind base;
@tailwind components;
@tailwind utilities;

.input{
  color: #ffffff;
  background-color: black;
};

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}